        @font-face {
            font-family: "FontAwesome";
            font-weight: 400;
            font-style: normal;

            src: url("../FontAwesome.otf");
        }
        
        @font-face {
            font-family: "Proxima Nova";
            font-weight: 400;
            font-style: normal;

            src: url("../Proxima Nova/Proxima Nova Regular.otf");
        }
        
        @font-face {
            font-family: "Proxima Nova";
            font-weight: 700;
            font-style: normal;

            src: url("../Proxima Nova/Proxima Nova Bold.otf");
        }
        
        body {
            margin: 0;
            padding: 0;

            font-family: "Proxima Nova";
        }
        
        #menu {
            position: absolute;
            top: 0px;
            left: 0px;

            width: 200px;
            min-height: 100%;

            background-color: #181e2c;
        }
        
        .box {
            margin-bottom: 4px;

            border-top: 1px solid #282F3F;
            border-bottom: 1px solid #141824;
            background-color: #1f2637;
        }
        
        #menu button[type=submit] {
            position: relative;

            width: 160px;
            height: 44px;
            margin: 35px 20px;
            padding-left: 18px;

            cursor: pointer;
            text-align: left;
            text-transform: uppercase;

            color: #fff;
            border: 0;
            border-radius: 4px;
            background-color: #f2795a;

            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 700;
        }
        
        .add_book::before {
            margin-right: 19px;

            content: "\f067"; /*plus*/
            vertical-align: text-top;

            font-family: "FontAwesome";
            font-size: 15px;
        }
        
        .box ul {
            margin: 0;

            padding: 0;

            list-style: 0;

            color: #78829d;

            font-size: 0.8em;
        }
        
        .box ul li {
            height: 38px;

            padding-left: 20px;

            cursor: pointer;
            text-transform: capitalize;

            line-height: 38px;
        }
        
        .navigation ul li:hover {
            color: #fff;

            background-color: #15a4fa;
        }
        
        .box ul li::before {
            display: inline-block;

            width: 16px;
            margin-right: 10px;

            font-family: "FontAwesome";
            font-size: 14px;
        }
        
        .box ul li.item_1::before {
            content: "\f02d"; /*book*/
        }
        
        .box ul li.item_2::before {
            content: "\f0ac"; /*globe*/
        }
        
        .box ul li.item_3::before {
            content: "\f07a"; /*shopping-cart*/
        }
        
        .box ul li.item_4::before {
            content: "\f005"; /*fa-star*/
        }
        
        .box ul li.item_5::before {
            content: "\f00b"; /*th-list*/
        }
        
        .box ul li.item_6::before {
            content: "\f017"; /*clock-o*/
        }
        
        .sort {
            padding: 17px 0;
        }
        
        .sort ul li:hover {
            background-color: #2c3240;
        }
        
        .sort ul li::before {
            display: inline-block;

            width: 6px;
            height: 6px;
            margin: 5px 15px 0 5px;

            content: "";
            vertical-align: text-top;

            border-radius: 50%;
            background-color: #545454;
        }
        
        .sort ul li.clr_1::before {
            background-color: #e94b59;
        }
        
        .sort ul li.clr_2::before {
            background-color: #feaa00;
        }
        
        .sort ul li.clr_3::before {
            background-color: #00bbe4;
        }
        
        .sort ul li.clr_4::before {
            background-color: #7873cd;
        }
        
        .recent ul {
            padding: 37px 0;
        }
        
        .recent ul li {
            height: auto;
            margin-bottom: 39px;
            padding-right: 20px;

            cursor: default;

            color: #4f5a6f;

            font-size: 12px;
            line-height: normal;
        }
        
        .recent ul li:last-child {
            margin-bottom: 0;
        }
        
        .recent ul li::before {
            height: 15px;

            content: "\f017"; /*clock-o*/
            text-align: center;
            vertical-align: text-top;

            font-family: "FontAwesome";
        }
        
        .recent ul li p {
            margin-top: -17px;

            padding-left: 26px;

            line-height: 1.5em;
        }
        
        .recent ul li p a {
            text-decoration: none;

            color: #677b92;
        }
        
        .recent ul li p a:hover {
            color: #7b8fa5;
        }
        
        .recent ul li time {
            display: inline;

            padding: 18px 0 0 26px;
        }